@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&display=swap");
body {
  font-family: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  max-height: 100vh;
  background-color: #1B1C25;
  color: white;
  overflow: hidden;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leftcont {
  width: 50%;
}

.leftcont .brand {
  color: #df2323;
  font-size: 2rem;
  font-weight: 500;
}

.leftcont form {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leftcont form input {
  width: 50%;
  padding: 1rem;
  background-color: #1B1C25;
  border: none;
  outline: none;
  border-radius: 8px;
  letter-spacing: 2px;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.877);
  text-align: center;
  border: 1px solid #df2323;
}

.leftcont form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.774);
}

.leftcont form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.774);
}

.leftcont form input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.774);
}

.leftcont form input::placeholder {
  color: rgba(255, 255, 255, 0.774);
}

.leftcont form input:hover {
  background-color: rgba(255, 255, 255, 0.11);
  cursor: pointer;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.leftcont form button {
  width: 188px;
  height: 49px;
  padding: 8px 30px;
  background-color: #df2323;
  color: #fff;
  border-radius: 8px;
  border: none;
}

.leftcont form button:hover {
  background-color: #3b3c41;
  cursor: pointer;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.leftcont form p {
  font-size: 1.5rem;
  color: #df2323;
  font-weight: 300;
}

.leftcont form p a {
  color: rgba(255, 255, 255, 0.795);
}

.rightcont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.rightcont .textimg {
  font-size: 24rem;
  font-weight: 650;
  letter-spacing: 30px;
  color: rgba(0, 0, 0, 0.034);
  -webkit-text-stroke: 1.5px rgba(255, 255, 255, 0.055);
}

.rightcont img {
  width: 800px;
  position: absolute;
  top: -300px;
  left: 20%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scaleX(-1) translateY(35%);
          transform: scaleX(-1) translateY(35%);
}

.rightcont .org {
  position: absolute;
  top: 75%;
  left: 45%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #df2323;
  color: white;
  font-size: 2rem;
  border: none;
}
/*# sourceMappingURL=styles.module.css.map */